# -----------------------------
# Database
# -----------------------------
PGUSER=app
PGPASSWORD=change-me
PGHOST=postgres
PGDATABASE=app

# -----------------------------
# Sessions
# -----------------------------
SESSION_SECRET=SECRET_HERE

# -----------------------------
# App
# -----------------------------
NODE_ENV=development
# -----------------------------
# Google oauth
# -----------------------------
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=https://your-domain.example.com/auth/google/callback
