# -----------------------------
# Frontend runtime
# -----------------------------
PORT=3000
HOSTNAME=0.0.0.0
HTTPS_KEY_PATH=/certs/localhost.key
HTTPS_CERT_PATH=/certs/localhost.crt

NODE_ENV=development
API_BASE_URL=https://backend:4000

NEXT_PUBLIC_APP_URL=https://localhost:8443
NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_SOCKET_URL=https://localhost:8443
NEXT_PUBLIC_LOCALE_COOKIE_NAME=locale