# -----------------------------
# Database
# -----------------------------
PGUSER=app
PGPASSWORD=change-me
PGHOST=postgres
PGDATABASE=app

# -----------------------------
# Sessions
# -----------------------------
SESSION_SECRET=SECRET_HERE

# -----------------------------
# App
# -----------------------------
NODE_ENV=development
# -----------------------------
# Google oauth
# -----------------------------
GOOGLE_CLIENT_ID=Puede
GOOGLE_CLIENT_SECRET=NO
GOOGLE_CALLBACK_URL=Si 