services:
  postgres:
    image: postgres:16-alpine
    container_name: app_postgres
    restart: unless-stopped
    env_file:
      - ./database/docker/.env.development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 3s
      retries: 20
  #  socket:
  #    build:
  #      context: ./socket
  #      dockerfile: ./docker/Dockerfile
  #    working_dir: /app
  #    ports:
  #      - "3100:3100"
  #    environment:
  #      NODE_ENV: development
  #    volumes:
  #      - ./socket/app:/app
  #      - node_modules_socket:/app/node_modules
  #    networks:
  #      - edge
  #  web:
  #    build:
  #      context: ./web
  #      dockerfile: ./docker/Dockerfile
  #    working_dir: /app
  #    expose:
  #      - "3000"
  #    env_file:
  #      - ./web/docker/.env.development
  #    volumes:
  #      - ./web/apps/web:/app
  #      - node_modules:/app/node_modules
  #      - web_next_cache:/app/.next
  #      - /app/dev
  #      - ./contracts/api:/app/src/contracts:ro
  #    networks:
  #      - edge
  backend:
    build:
      context: ./backend
      dockerfile: ./docker/Dockerfile
    working_dir: /app
    expose:
      - "4000"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./backend/docker/.env.development
    volumes:
      - ./backend/app:/app
      - node_modules_backend:/app/node_modules
      - ./contracts:/app/src/contracts:ro
    networks:
      - backend
      - edge
#  nginx:
#    image: nginx:alpine
#    ports:
#      - "8443:443"
#    env_file:
#      - .env.local
#    volumes:
#      - ./nginx:/etc/nginx
#      - ./${CERT_DIR:-../certs}:/etc/nginx/certs:ro
#    depends_on:
#      - web
#    restart: unless-stopped
#    networks:
#      - edge

networks:
  backend:
    internal: true
  edge:

volumes:
  node_modules:
  node_modules_backend:
  node_modules_socket:
  web_next_cache:
  postgres_data:
# - [ ] not using container-name for services to avoid conflicts when multiple projects are run on the same host
# networks are not defined to use default bridge network

